# TODO

## Major
- [x] create term-by-document matrix (calculate words frequncies for each term-document pair)
 - [ ] check that it's actually correct - especially if we don't map terms to wrong documents
- [x] convert term-by-document frequencies to tf-idf (calcualte tf-idf for each term-document pair)
 - [ ] check
- [x] we may need actual (numpy?) matrix?
- [x] LSI magic
- [ ] Put it together
- [ ] GUI

### Minor
- [x] remove numbers from terms - done but not sure if it's good thing to do, maybe it's also important for relevancy of docs,
like for example when there is year written?

In [1]:
from lsa import *

In [2]:
np.random.seed(42)

In [3]:
df_data = load_data(['articles.csv', 'recipes.csv'])

In [4]:
df_data.head(1)

,author,claps,reading_time,link,title,text
0,Justin Lee,8.3K,11.0,https://medium.com/swlh/chatbots-were-the-next...,Chatbots were the next big thing: what happene...,"Oh, how the headlines blared:\nChatbots were T..."

In [5]:
preproccessed_docs = preprocess_docs(df_data)
preproccessed_docs

100%|██████████| 437/437 [00:47<00:00,  9.23it/s]

                                                 words
0    [oh, headline, blare, chatbots, next, big, thi...
1    [ever, found, look, question, concept, syntax,...
2    [machine, learn, increasingly, move, hand, des...
3    [understand, machine, learn, big, question, ma...
4    [want, learn, apply, artificial, intelligence,...
..                                                 ...
432  [fun, make, kid, cute, christmas, canape, top,...
433  [great, british, bake, winner, france, quinn, ...
434  [intergalactically, special, christmas, cake, ...
435  [try, snowy, ice, jazz, classic, christmas, ca...
436  [long, cook, electric, pressure, cooker, g, mi...

[437 rows x 1 columns]

In [6]:
df_frequency = get_term_by_document_frequency(preproccessed_docs)

In [7]:
df_frequency

,0,1,2,3,4,5,6,7,8,9,...,427,428,429,430,431,432,433,434,435,436
want,2.0,2.0,6.0,6.0,6.0,2.0,1.0,2.0,NaN,6.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
live,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ethan,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
faster,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
take,7.0,3.0,4.0,5.0,9.0,2.0,NaN,4.0,NaN,5.0,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
doiliesin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
aisle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
jazz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
chocolatechips,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
cooker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [8]:
df_frequency.shape

(16221, 437)

In [9]:
df_reduced = reduce_terms(df_frequency, 0.75, 0.05,1200).sort_values('doc_frequency', ascending=False)
df_reduced

,0,1,2,3,4,5,6,7,8,9,...,428,429,430,431,432,433,434,435,436,doc_frequency
time,2.0,9.0,3.0,3.0,3.0,5.0,2.0,5.0,NaN,7.0,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,0.745995
learn,2.0,4.0,13.0,16.0,48.0,11.0,31.0,3.0,6.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.693364
see,2.0,1.0,4.0,4.0,6.0,6.0,2.0,2.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.679634
get,8.0,3.0,3.0,11.0,8.0,10.0,1.0,2.0,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.665904
work,1.0,3.0,1.0,3.0,4.0,4.0,NaN,1.0,NaN,18.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.656751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rl,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050343
imagenet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050343
six,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050343
jupyter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050343
analytics,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050343

In [10]:
df_tf_idf = get_tf_idf(df_reduced)
display(df_tf_idf)

,0,1,2,3,4,5,6,7,8,9,...,427,428,429,430,431,432,433,434,435,436
time,0.031020,0.210494,0.038989,0.067358,0.036122,0.045653,0.051029,0.154694,NaN,0.069107,...,NaN,NaN,NaN,0.097419,0.067745,NaN,NaN,NaN,NaN,NaN
learn,0.031213,0.094134,0.170001,0.361473,0.581532,0.101060,0.795856,0.093392,0.193910,0.168873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
see,0.031265,0.023573,0.052396,0.090521,0.072814,0.055217,0.051432,0.062367,0.032373,0.039802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.115348,NaN
get,0.125276,0.070841,0.039365,0.249359,0.097252,0.092186,0.025760,0.062474,NaN,0.159480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
work,0.015678,0.070923,0.013137,0.068086,0.048683,0.036917,NaN,0.031273,NaN,0.179624,...,NaN,NaN,NaN,0.196943,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
rl,NaN,NaN,NaN,NaN,0.192324,NaN,NaN,NaN,NaN,0.024260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagenet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
six,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jupyter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
analytics,NaN,NaN,NaN,NaN,NaN,NaN,0.031350,NaN,NaN,0.012130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_concept_by_doc, df_query_projection = transform_to_concept_space(df_tf_idf)
display(df_concept_by_doc)
display(df_query_projection)

,0,1,2,3,4,5,6,7,8,9,...,427,428,429,430,431,432,433,434,435,436
0,-0.175545,-0.413388,-0.166691,0.049561,-0.243753,0.032625,-1.051492,0.051182,-0.268586,0.045927,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.065445e+01
1,-0.171609,-0.462338,-0.178456,0.015106,-0.202091,-0.003458,-0.144585,0.031907,-0.002485,0.030081,...,1.763903e-16,5.017357e-16,2.496371e-15,6.597256e-18,-3.687102e-16,4.245538e-15,-4.023184e-15,-5.018332e-15,-4.461370e-15,0.000000e+00
2,-0.145665,-0.443665,-0.125610,0.020173,0.100155,0.008511,0.071127,-0.128461,-0.217473,-0.017382,...,-2.685141e-17,-1.252943e-16,-4.500646e-16,4.269362e-16,4.348951e-16,-8.152157e-16,-6.264409e-16,1.823090e-15,4.432487e-16,-1.694677e-15
3,-0.132833,-0.323539,-0.060291,0.120100,0.143911,-0.029567,-0.196362,0.032797,0.141938,0.050381,...,5.624344e-02,1.830952e-03,3.744112e-01,3.139996e-02,-1.182327e-03,-1.686213e-01,3.336577e-01,1.071148e+00,4.612298e-01,-2.537593e-02
4,-0.109501,-0.342541,-0.048941,-0.018652,0.035854,-0.000649,0.084959,0.194389,0.528587,0.199375,...,4.999843e-01,6.285717e-01,-5.136889e-01,-1.039643e-02,3.825380e-01,-1.956954e-01,6.742660e-02,5.663273e-01,5.111036e-01,2.044406e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-0.015689,-0.046738,-0.013610,0.001029,-0.033586,-0.007380,0.038238,0.028576,0.068189,0.028061,...,4.841659e-17,7.716394e-17,5.446866e-17,2.420830e-17,5.598168e-17,-1.149894e-16,-7.867696e-17,3.328641e-17,-2.224137e-16,-2.567403e-17
196,-0.016534,-0.055060,-0.004229,-0.006674,0.054136,0.003471,-0.043095,0.019427,0.044037,0.018754,...,4.606533e-02,1.759985e-02,6.606035e-02,4.424878e-02,-1.910288e-02,-9.313776e-02,-2.328545e-02,9.527638e-02,4.614022e-02,8.534105e-05
197,-0.014821,-0.040536,-0.012640,0.002042,-0.027301,-0.002095,0.006215,0.002630,0.003971,-0.002979,...,-1.014173e-01,6.164856e-02,5.636344e-02,-9.301884e-02,1.372131e-02,3.992304e-02,1.053195e-02,4.096677e-02,8.750221e-02,3.996377e-04
198,-0.012387,-0.033741,-0.015482,0.002417,-0.057572,-0.006008,0.027952,-0.027367,-0.055655,-0.079842,...,6.852072e-02,-7.726971e-02,8.963787e-02,9.394866e-03,-5.712925e-03,-1.224641e-01,7.196105e-02,-4.277563e-02,8.210081e-02,1.199999e-04
199,-0.017266,-0.050374,-0.015663,0.002990,-0.027037,-0.004790,0.068110,-0.004106,-0.001134,-0.001362,...,-9.297648e-02,-3.116552e-02,-2.602203e-02,-4.262263e-02,4.063030e-03,5.165986e-02,7.093479e-02,1.602900e-01,-4.654359e-02,-1.030360e-04

,0,1,2,3,4,5,6,7,8,9,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
0,-0.058075,-0.108365,-0.045534,-0.037697,-0.045183,-0.026990,-0.030227,-0.032389,-0.036333,-0.038845,...,-0.002713,-0.001660,-0.001783,-0.001366,-0.002097,-0.002823,-0.001607,-0.004934,-0.001658,-0.002371
1,-0.105333,-0.404835,-0.073801,-0.094411,-0.088991,-0.078673,-0.070041,-0.072197,-0.066241,-0.077016,...,-0.008024,-0.005261,-0.005499,-0.004262,-0.006762,-0.009907,-0.006122,-0.001903,-0.004683,-0.009002
2,-0.043044,0.074994,-0.032516,-0.036602,-0.036246,-0.030858,-0.026651,-0.028473,-0.025451,-0.032095,...,-0.002804,0.002396,-0.001694,-0.001602,-0.002589,-0.002957,-0.001602,0.001056,-0.001452,-0.002192
3,0.006317,-0.076170,-0.005921,0.012669,-0.003887,0.006995,-0.000565,0.001156,0.001533,0.006250,...,0.000619,0.000620,0.000137,0.000417,0.000198,-0.000412,-0.001507,-0.004433,0.000273,-0.001929
4,-0.083487,0.470385,-0.088457,-0.051851,-0.063579,-0.049173,-0.041725,-0.043275,-0.025872,-0.051624,...,-0.002923,-0.004805,-0.001783,0.000057,-0.003225,-0.004282,0.007673,0.004967,-0.001528,0.019413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,-0.023336,-0.011567,0.079659,0.024008,0.023941,-0.043161,-0.002655,0.040183,0.034647,0.032134,...,0.050444,0.069040,0.044521,-0.008359,0.005821,-0.001494,-0.008318,-0.006683,0.012629,0.040541
196,-0.004031,-0.010775,-0.024490,0.054241,-0.093449,0.005560,0.024556,-0.004374,-0.051207,-0.011454,...,0.046286,-0.018022,-0.120590,0.036460,-0.026700,0.022196,-0.008967,0.008744,-0.006945,0.000285
197,0.043049,0.009640,0.027146,-0.009441,-0.039297,-0.004168,0.043839,-0.007218,-0.059125,0.059217,...,-0.025923,-0.026593,-0.002575,0.092930,-0.011440,-0.002339,-0.011563,-0.005186,0.005539,-0.025752
198,0.031540,-0.018132,-0.003077,-0.037882,0.036931,0.104328,-0.009731,-0.027839,-0.006282,-0.047579,...,0.042949,0.033037,0.007472,-0.026859,-0.015774,-0.011636,-0.007843,0.010925,-0.000830,-0.045923
199,0.000368,0.007045,-0.076476,-0.003384,0.057280,0.004350,0.086684,0.023341,0.053355,-0.039338,...,0.024255,-0.016692,-0.011475,0.036186,0.006048,0.004798,-0.004814,-0.021821,-0.008035,-0.068254

In [15]:
best_match = get_n_nearest(df_tf_idf, df_concept_by_doc, df_query_projection, 2, 10)
best_match

221    0.384678
273    0.331790
0      0.316880
1      0.309826
287    0.307815
211    0.303663
156    0.291543
74     0.286723
215    0.277457
243    0.276570
dtype: float64

In [26]:
lsa = LSA()

In [27]:
lsa.load()

Loading data...
Loading concept matrix from "concept.csv"...